.container
  .row
    .box
      .col-lg-12
        hr
        h2.intro-text.text-center
          | Новини музею
        hr
      - @articles.each do |article|  
        .col-lg-12
          h2.text-center
            = link_to article.title, article
          = image_tag article.photo.url(:thumb), class: "img-left article-photo-prev" if article.photo.present? 
            br
            p
              = article.created_at.strftime("%d-%m-%Y-%H")
          div.article-prewiev
            p 
              = article.description
            - if article.body.present?
        .col-lg-12.text-center   
          = submit_tag '🢃', type: 'button' , class: "btn btn-default expand-button", data: { :"toggle"=> "collapse", "target" => ".#{article.created_at.strftime("%d-%m-%Y-%H-%M-%S")}" }
        .col-lg-12   
          = content_tag(:div, content_tag(:p, "#{article.body}"), class: "article-hidden collapse #{article.created_at.strftime("%d-%m-%Y-%H-%M-%S")}")    
          hr
      .col-lg-12.text-center
        = paginate @articles
